/* Fonts and how to call them */
/* .great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* .klee-one-regular {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* .oxygen-mono-regular {
  font-family: "Oxygen Mono", monospace;
  font-weight: 400;
  font-style: normal;
} */

:root {
  --color-primary: #633000;
  --color-primary-bis: #865b33;
  --color-secondary: #000000;
  --color-secondary-bis: #3a3a3a;
  --color-tertiary: #ffffff;
  --color-tertiary-bis: #e2e2e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Oxygen Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Remove Scrollbars */
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox*/
}

/* Nav Styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6dvh;
  background-color: var(--color-secondary);
  padding: 1dvh 0;
  z-index: 1000;
}

nav > ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2px 0;
}

nav > ul li {
  position: relative;
  min-width: 10%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-tertiary-bis);
  /* background: radial-gradient(
    circle,
    rgb(0, 0, 0, 0.9) 20%,
    rgb(0, 0, 0, 0.9) 70%,
    rgba(226, 226, 226, 0.5) 90%
  ); */
  box-shadow: inset -40px 0px 50px -45px var(--color-tertiary-bis),
    inset 40px 0px 50px -45px var(--color-tertiary-bis);
  transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

nav > ul li:first-child {
  border-radius: 1dvh 0 0 1dvh;
}

nav > ul li:last-child {
  border-radius: 0 1dvh 1dvh 0;
}

nav > ul li > a {
  width: 100%;
  height: inherit;
  align-content: center;
  text-align: center;
  color: var(--color-tertiary-bis);
  font-family: "Klee One", cursive;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  border-radius: inherit;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

/* Wondering if it's necesary */
/* nav > ul li > a:visited {
  color: var(--color-tertiary-bis);
  text-decoration: none;
} */

nav > ul li:hover,
nav > ul li:hover > a {
  background-color: var(--color-tertiary-bis);
  color: var(--color-primary-bis);
  font-weight: 800;
}

/* Body */

body {
  padding-top: 6dvh;
}
/* Footer */
footer {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

footer div {
  margin: 0 5%;
}

footer div > p {
  padding: 1rem 2rem;
}
