<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rojas Gin - Productos</title>
    <meta name="description" content="Productos de Gintonería Rojas Gin" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./products.html">Productos</a></li>
        <li><a href="./services.html">Servicios</a></li>
        <li><a href="./about.html">Nosotros</a></li>
        <li><a href="./market.html">Market</a></li>
        <li><a href="./contact.html">Contacto</a></li>
      </ul>
    </nav>

    <header>
      <h1>Rojas Gin</h1>
    </header>

    <main>
      <h2>Productos</h2>
      <p>Completar con contenido acorde</p>
    </main>

    <footer>
      <div><img src="../static/img/logo.png" /></div>
      <div>
        <p>Telefono</p>
        <p>Facebook</p>
        <p>Instagram</p>
      </div>
    </footer>
  </body>
</html>
