<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar - Rojas Gin</title>
    <meta name="description" content="Gintonería Rojas Gin" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/register.css" />
    <link rel="stylesheet" href="../static/css/profile.css" />

    <script
      src="https://kit.fontawesome.com/30e55d7dd2.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="./static/img/favicon.ico"
      type="image/x-icon"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Klee+One&family=Oxygen+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./products.html">Productos</a></li>
        <li><a href="./services.html">Servicios</a></li>
        <li><a href="./about.html">Nosotros</a></li>
        <li><a href="./market.html">Market</a></li>
        <li><a href="./contact.html">Contacto</a></li>
        <li class="login-btn"><a href="./login.html">Ingresar</a></li>
      </ul>
    </nav>

    <header class="register-header">
      <h1>Rojas Gin</h1>
    </header>

    <main>
      <section class="profile-data">
        <div class="profile-info">
          <p>Nombre: <span id="user-first-name">Undefined</span></p>
          <p>Apellido: <span id="user-last-name">Undefined</span></p>
          <p>Email: <span id="user-email">Undefined</span></p>
        </div>
        <div class="profile-image">
          <img
            src="../static/img/user-placeholder.png"
            alt="user placeholder"
            width="50%"
          />
        </div>
        <div class="profile-actions">
          <button type="button" id="update-user-info-button">Actualizar</button>
          <button type="button" id="delete-user-button">Eliminar</button>
          <!-- <input
            type="button"
            id="update-user-info-button"
            value="Actualizar"
          />
          <input type="button" id="delete-user-button" value="Eliminar" /> -->
        </div>
      </section>
    </main>

    <footer>
      <div class="logo">
        <img src="../static/img/logo.png" alt="Logo Rojas" />
      </div>

      <div class="advice">
        <p>Prohibida su venta a menores de 18 años</p>
        <p>Prohibida su venta a personas embarazadas</p>
        <p>Consumir con moderación</p>
      </div>

      <div class="contact-info">
        <div class="localization">
          <a
            href="https://maps.app.goo.gl/jK7CxrMuNarfVs5KA"
            class="logo_map"
            target="_blank"
            rel="_blank"
          >
            <i class="fa-solid fa-map-location-dot" alt="Logo mapa"></i>
          </a>
          <p>Rojas, Buenos Aires</p>
        </div>

        <div class="phone">
          <i class="fa-solid fa-phone-volume" alt="Logo telefono"></i>
          <p>+54 34 1212-9263</p>
        </div>

        <div class="email">
          <i class="fa-regular fa-envelope" alt="Logo coorreo"></i>
          <p>RojasGin170@gmail.com</p>
        </div>

        <div class="ig">
          <a
            href="https://www.instagram.com/rojas.gin2/?utm_source=qr"
            class="logo_ig"
            target="_blank"
            rel="_blank"
          >
            <i class="fa-brands fa-instagram" alt="Logo instagram"></i>
          </a>
          <p>Instagram</p>
        </div>
      </div>
    </footer>

    <script src="/public/static/js/landing.js"></script>
    <script src="/public/static/js/register.js"></script>
  </body>
</html>
