<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rojas Gin - Servicios</title>
    <meta name="description" content="Servicios  de Gintonería Rojas Gin" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/services.css">
    <script src="https://kit.fontawesome.com/30e55d7dd2.js" crossorigin="anonymous"></script>
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Klee+One&family=Oxygen+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./products.html">Productos</a></li>
        <li><a href="./services.html">Servicios</a></li>
        <li><a href="./about.html">Nosotros</a></li>
        <li><a href="./market.html">Market</a></li>
        <li><a href="./contact.html">Contacto</a></li>
      </ul>
    </nav>

    <main>
      <h2>Servicios</h2>
      <div class="card-container">
        <div class="card-1"> <!--Carta 1-->
          <div class="card-image-1">
            <img src="../static/img/services/istockphoto-1047762788-612x612.jpeg" alt="">
          </div>
          <div class="card-text-1">
            <h3>En <u>Rojas Gin</u> nos enorgullecemos de contar con la fabricacion de 4 tipos distintos de Gin de la mas alta calidad</h3>
            <ul>
              <li>Old Tom</li>
              <li>Citrico</li>
              <li>Floral</li>
              <li>London Dry</li>
            </ul>
          </div>
        </div> <!--Final de carta 1-->
      </div>

      <div class="card-container">
        <div class="card-2"> <!--Carta 2-->
          <div class="card-image-2">
            <img src="../static/img/services/istockphoto-1289771552-612x612.jpg" alt="">
          </div>
          <div class="card-text-2">
            <h3>Elaboracion</h3>
            <p>Ofrecemos  el servicio de elaboración de Gin, creación de recetas, contamos con todos las regulaciones para que el producto  salga  con un estándar de calidad  excelente, contamos con <a href="https://www.argentina.gob.ar/anmat/regulados/alimentos/alimentos-autorizados-establecimientos-habilitados" target="_blank">Rne y Rnpa</a>, inscripción al <a href="https://www.argentina.gob.ar/inv/control-de-alcoholes
            " target="_blank">INV</a>, y controles de calidad que garantizan  nuestros productos.</p>
          </div>
        </div> <!--Final de carta 2-->
      </div>

    </main>

    <footer>
      <div class="logo"><img src="../static/img/logo.png" alt="Logo Rojas"></div>

      <div class="advice">
        <p>Prohibida su venta a menores de 18 años</p>
        <p>Prohibida su venta a personas embarazadas</p>
        <p>Consumir con moderación</p>
      </div>

      <div class="contact-info">

        <div class="localization">
          <a href="https://maps.app.goo.gl/jK7CxrMuNarfVs5KA" class="logo_map" target="_blank" rel="_blank">
            <i class="fa-solid fa-map-location-dot" alt="Logo mapa"></i>
          </a>
          <p>Rojas, Buenos Aires</p>
        </div>

        <div class="phone">
          <i class="fa-solid fa-phone-volume" alt="Logo telefono"></i>
          <p>+54 34 1212-9263</p>
        </div>

        <div class="email">
          <i class="fa-regular fa-envelope" alt="Logo coorreo"></i>
          <p>RojasGin170@gmail.com</p>
        </div>

        <div class="ig">
          <a href="https://www.instagram.com/rojas.gin2/?utm_source=qr" class="logo_ig" target="_blank" rel="_blank">
            <i class="fa-brands fa-instagram" alt="Logo instagram"></i>
          </a>
          <p>Instagram</p>

        </div>
      </div>

    </footer>

  </body>
</html>
