<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rojas Gin - Servicios</title>
    <meta name="description" content="Servicios  de Gintonería Rojas Gin" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/services.css">
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Klee+One&family=Oxygen+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./products.html">Productos</a></li>
        <li><a href="./services.html">Servicios</a></li>
        <li><a href="./about.html">Nosotros</a></li>
        <li><a href="./market.html">Market</a></li>
        <li><a href="./contact.html">Contacto</a></li>
      </ul>
    </nav>

    <main>
      <h2>Servicios</h2>
      <div class="card-container">
        <div class="card-1"> <!--Carta 1-->
          <div class="card-image-1">
            <img src="../static/img/services/istockphoto-1047762788-612x612.jpeg" alt="">
          </div>
          <div class="card-text-1">
            <h3>En <u>Rojas Gin</u> nos enorgullecemos de contar con la fabricacion de 4 tipos distintos de Gin de la mas alta calidad</h3>
            <ul>
              <li>Old Tom</li>
              <li>Citrico</li>
              <li>Floral</li>
              <li>London Dry</li>
            </ul>
          </div>
        </div> <!--Final de carta 1-->
      </div>

      <div class="card-container">
        <div class="card-2"> <!--Carta 2-->
          <div class="card-image-2">
            <img src="../static/img/services/istockphoto-1289771552-612x612.jpg" alt="">
          </div>
          <div class="card-text-2">
            <h3>Elaboracion</h3>
            <p>Ofrecemos  el servicio de elaboración de Gin, creación de recetas, contamos con todos las regulaciones para que el producto  salga  con un estándar de calidad  excelente, contamos con <a href="https://www.argentina.gob.ar/anmat/regulados/alimentos/alimentos-autorizados-establecimientos-habilitados" target="_blank">Rne y Rnpa</a>, inscripción al <a href="https://www.argentina.gob.ar/inv/control-de-alcoholes
            " target="_blank">INV</a>, y controles de calidad que garantizan  nuestros productos.</p>
          </div>
        </div> <!--Final de carta 2-->
      </div>





    </main>

    <footer>
      <div><img src="../static/img/logo.png"/></div>
      <div>
        <p>Telefono</p>
        <p>Facebook</p>
        <p>Instagram</p>
      </div>
    </footer>
  </body>
</html>
